<launch>

  <!--><include file="$(find realsense2_camera)/launch/rs_camera.launch"/>-->
  <node name="detect" pkg="wave_demo" type="detect" output="screen">
    <remap to="/camera/color/image_raw" from="~input" />
    <param name="HaarFile" value="$(find wave_demo)/resources/haarcascade_frontalface_default.xml" />
  </node>

  <node name="wave" pkg="wave_demo" type="wave" output="screen"/>

  <node name="wavedemo" pkg="wave_demo" type="wavedemo" output="screen">
    <remap to="/detect/output" from="~input" />
  </node>
</launch>